
.dltCmtImgz{
    width: 20px;
    height: 20px;
    background-color: #e0e3e4;
    display: block;
    margin: auto;


}

.tinyImg{
    width: 30px;
    height: 30px;

}

.deleteButtonz {

    width: 20px;
    height: 20px ;
    background-color: #e0e3e4;
    float: right;
    border-radius: 5px;
    margin: 2px;
    border: none;
}


#nestedModal{

    top: 250px;
    right: 1000px;
}


.commentingText{
    /*display: none;*/
}


.cmtImgz{
    width: 20px;
    height: 20px;
    background-color: #e0e3e4;
    display: block;
    margin: auto;
}

.smallClick{
    width: 20px;
    height: 20px ;
    background-color: #e0e3e4;
    float: right;
    border-radius: 5px;
    margin: 3px;
    border: none;
}

.commentStamp {
    background-color: white;
    font-size: x-small;
    width: 150px;
}

#editID {
    display: none;
}


.commentArticleId {
    display: none;
}

#registerModal {
    width: 800px;
}

#editTextArea {
    display: none;
}

.save {
    display: none;
}

.commentz {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: #e0e3e4;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

.newcomment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: #e0e3e4;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

#articleModal {
    padding: 20px;
}

.smallCommentBtn {
    width: 100px;
    height: 35px;
    font-size: 10px;
    display: inline;
}

.tinyCommentsz {

    transform: translate(25px, 0px);

    width: 250px;
    height: 65px;
    background-color: #e0e3e4;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px 30px 30px;
    margin-left: 10px;


}

.tinyCommentBtn {
    transform: translate(10px, 0px);
    width: 75px;
    height: 25px;
}

.smallText {
    display: inline;
    height: 35px;
}

.tinyText {
    width: 75px;
    height: 25px;
    display: inline;
}

#commentArea {
    padding: 10px;
    margin: 20px;
}

#editTitle {
    display: none;
}

#saveButton {
    display: none;
}
.navbarBtn {
    padding-top:20px;
    padding-bottom: 20px;
}
.sortBtn {
    color: black;
    border:0;
    width:100%;
    background-color: white;
}
.sortBtn:hover {

    background-color: lightgray;
}
.dropBtn {


    margin-right: -15px;
    border-radius: 4px;
    border: none;
    padding: 7px 10px 7px 10px;
    background-color: #24aceb;
    color: white;
}
.dropBtn:hover {
    background-color: #3978c6;
}
.dropBtn:focus {
    background-color: #3978c6;
}
.dropdown {
    float: right;
}